{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto">
  <h2 class="text-2xl font-bold mb-4 bg-indigo-500 text-white px-4 py-2 rounded">Accommodation Application</h2>

  {% if initial_registration %}
    <form method="post" class="max-w-md mx-auto">
      {% csrf_token %}
      <div class="mb-2 flex items-center">
        <label for="{{ form.full_name.id_for_label }}" class="mr-2">{{ form.full_name.label_tag }}</label>
        <div class="flex">
          {{ form.full_name }}
          {% if form.full_name.field.required %}<span class="ml-2 text-red-500">*</span>{% endif %}
        </div>
      </div>
      <div class="mb-2 flex items-center">
        <label for="{{ form.email.id_for_label }}" class="mr-2">{{ form.email.label_tag }}</label>
        <div class="flex">
          {{ form.email }}
          {% if form.email.field.required %}<span class="ml-2 text-red-500">*</span>{% endif %}
        </div>
      </div>
      <div class="mb-2 flex items-center">
        <label for="{{ form.student_number.id_for_label }}" class="mr-2">{{ form.student_number.label_tag }}</label>
        <div class="flex">
          {{ form.student_number }}
          {% if form.student_number.field.required %}<span class="ml-2 text-red-500">*</span>{% endif %}
        </div>
      </div>
      <div class="mb-2 flex items-center">
        <label for="{{ form.phone_number.id_for_label }}" class="mr-2">{{ form.student_number.label_tag }}</label>
        <div class="flex">
          {{ form.phone_number }}
          {% if form.phone_number.field.required %}<span class="ml-2 text-red-500">*</span>{% endif %}
        </div>
      </div>
      <div class="mb-2 flex items-center">
        <label for="{{ form.gender.id_for_label }}" class="mr-2">{{ form.student_number.label_tag }}</label>
        <div class="flex">
          {{ form.gender }}
          {% if form.gender.field.required %}<span class="ml-2 text-red-500">*</span>{% endif %}
        </div>
      </div>
      <div class="mb-2 flex items-center">
        <label for="{{ form.identification.id_for_label }}" class="mr-2">{{ form.student_number.label_tag }}</label>
        <div class="flex">
          {{ form.identification }}
          {% if form.identification.field.required %}<span class="ml-2 text-red-500">*</span>{% endif %}
        </div>
      </div>
      <button type="submit" class="block w-full px-4 py-2 mt-4 text-white bg-indigo-600 rounded hover:bg-indigo-700 focus:outline-none focus:bg-indigo-700">Register</button>
    </form>
  {% else %}
    <form method="post" class="max-w-md mx-auto">
      {% csrf_token %}
      <div class="mb-2 flex items-center">
        <label for="{{ form.full_name.id_for_label }}" class="mr-2">{{ form.full_name.label_tag }}</label>
        <div class="flex">
          {{ form.full_name.attrs.update({'disabled': True}) }}  {% if form.full_name.field.required %}<span class="ml-2 text-red-500">*</span>{% endif %}
        </div>
      </div>
      <div.mb-2 flex items-center">
        <label for="{{ form.gender.id_for_label }}" class="mr-2">{{ form.gender.label_tag }}</label>
        <div class="flex">
          {{ form.gender.attrs.update({'disabled': True}) }}  {% if form.gender.field.required %}<span class="ml-2 text-red-500">*</span>{% endif %}
        </div>
      </div>
      <div class="mb-2 flex items-center">
        <label for="{{ form.email.id_for_label }}" class="mr-2">{{ form.email.label_tag }}</label>
        <div class="flex">
          {{ form.email.attrs.update({'disabled': True}) }}  {% if form.email.field.required %}<span class="ml-2 text-red-500">*</span>{% endif %}
        </div>
      </div>
      <div class="mb-2 flex items-center">
        <label for="{{ form.student_number.id_for_label }}" class="mr-2">{{ form.student_number.label_tag }}</label>
        <div class="flex">
          {{ form.student_number.attrs.update({'disabled': True}) }}  {% if form.student_number.field.required %}<span class="ml-2 text-red-500">*</span>{% endif %}
        </div>
      </div>
      <div class="mb-2 flex items-center">
        <label for="{{ form.phone_number.id_for_label }}" class="mr-2">{{ form.phone_number.label_tag }}</label>
        <div class="flex">
          {{ form.phone_number.attrs.update({'disabled': True}) }}  {% if form.phone_number.field.required %}<span class="ml-2 text-red-500">*</span>{% endif %}
        </div>
      </div>
      <div class.mb-2 flex items-center">
        <label for="{{ form.identification.id_for_label }}" class="mr-2">{{ form.identification.label_tag }}</label>
        <div class="flex">
          {{ form.identification.attrs.update({'disabled': True}) }}  {% if form.identification.field.required %}<span class="ml-2 text-red-500">*</span>{% endif %}
        </div>
      </div>
      {{ form.as_p }}  <button type="submit" class="block w-full px-4 py-2 mt-4 text-white bg-indigo-600 rounded hover:bg-indigo-700 focus:outline-none focus:bg-indigo-700">Update</button>
    </form>
  {% endif %}
</div>
{% endblock %}