{% extends 'base.html' %}

{% block title %}Sign In{% endblock %}

{% block content %}
<div class="container mx-auto">
  <h2 class="text-2xl font-bold mb-4 bg-indigo-500 text-white px-4 py-2 rounded">Resident Sign In</h2>

  <form method="post" class="max-w-md mx-auto">
    {% csrf_token %}
    {% if error_message %}
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4" role="alert">
      <strong class="font-bold">Error:</strong>
      <span class="block sm:inline">{{ error_message }}</span>
    </div>
    {% endif %}

    <div class="mb-4">
      <label for="{{ form.email.id_for_label }}" class="block text-gray-700 font-bold mb-2">{{ form.email.label_tag }}</label>
      <div class="flex">
          {{ form.email }}
          {% if form.email.required %}<span class="ml-2 text-red-500">*</span>{% endif %}
      </div>
    </div>
    <div class="mb-4">
      <label for="{{ form.password.id_for_label }}" class="block text-gray-700 font-bold mb-2">{{ form.password.label_tag }}</label>
      <div class="flex">
          {{ form.password }}
          {% if form.password.required %}<span class="ml-2 text-red-500">*</span>{% endif %}
      </div>
    </div>

    <div class="flex items-center justify-between mb-4">
      <div class="flex items-center">
        <input type="checkbox" id="remember_me" name="remember_me" class="mr-2">
        <label for="remember_me" class="text-gray-700">Remember Me</label>
      </div>
      <a href="{% url 'accounts:password_reset' %}" class="text-indigo-500 hover:text-indigo-700">Forgot Password?</a>
    </div>

    <button type="submit" class="w-full px-4 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 focus:outline-none focus:bg-indigo-700">Sign In</button>
  </form>

  <p class="text-center mt-4">
    Don't have an account? <a href="{% url 'accounts:registration' %}" class="text-indigo-500 hover:text-indigo-700">Sign Up</a>
  </p>
</div>
{% endblock %}
