{% extends 'base.html' %}
{% block content %}
<div class="container mx-auto px-4 py-8">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div class="md:col-span-2">
            <a href="#" class="block bg-white p-4 rounded shadow hover:bg-gray-100">
                <h2 class="text-2xl font-bold text-indigo-700">Room Reservation</h2>
            </a>

            <a href="#" class="block bg-white p-4 rounded shadow hover:bg-gray-100">
                <h2 class="text-2xl font-bold text-indigo-700">Resident Activities</h2>
            </a>

            <a href="#" class="block bg-white p-4 rounded shadow hover:bg-gray-100">
                <h2 class="text-2xl font-bold text-indigo-700">Request Room Inspection</h2>
            </a>

            <a href="#" class="block bg-white p-4 rounded shadow hover:bg-gray-100">
                <h2 class="text-2xl font-bold text-indigo-700">Fill a Complaint</h2>
            </a>


            <a href="#" class="block bg-white p-4 rounded shadow hover:bg-gray-100">
                <h2 class="text-2xl font-bold text-indigo-700">Visitor Management</h2>
            </a>
            <!-- Add links/buttons for other services here -->
        </div>

        <div>
            <a href="#" class="block bg-white p-4 rounded shadow hover:bg-gray-100">
                <h2 class="text-2xl font-bold text-indigo-700">Resource Booking</h2>
            </a>

            <a href="" class="block bg-white p-4 rounded shadow hover:bg-gray-100">
                <h2 class="text-2xl font-bold text-indigo-700">Community Forums</h2>
            </a>

            <a href="#" class="block bg-white p-4 rounded shadow hover:bg-gray-100">
                <h2 class="text-2xl font-bold text-indigo-700">Feedback and Surveys</h2>
            </a>

            <a href="#" class="block bg-white p-4 rounded shadow hover:bg-gray-100">
                <h2 class="text-2xl font-bold text-indigo-700">Emergency Alerts</h2>
            </a>

            <a href="#" class="block bg-white p-4 rounded shadow hover:bg-gray-100">
                <h2 class="text-2xl font-bold text-indigo-700">Transportation Information</h2>
            </a>

            <a href="#" class="block bg-white p-4 rounded shadow hover:bg-gray-100">
                <h2 class="text-2xl font-bold text-indigo-700">Maintenance Requests</h2>
            </a>
            <!-- Add links/buttons for other services here -->
        </div>
    </div>
</div>
{% endblock %}
